*{  
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.outer{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.inner{
    position: relative;
    left: 10vw;
    height: 100%;
    width: 80%;
    background-color:pink;
    text-align: center;
    font-family: cursive;
}

#txxt{
    text-align: right;
    padding-top:20px;
}

.superinner h1{
    font-family: 'Bitter', serif;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
}
.superinner input{
    outline:none;
}
.superinner{
    position: relative;
    top:5vh;
    height: 80%;
    background-color: antiquewhite;
    text-align: center;
    overflow: scroll;
}

.superinner input[type="text"]{
    width: 80%;
}